body { /*全体に影響*/
    margin: 0; /*余白を削除してページの端から*/
    padding: 0; /*内側の余白をなくす*/
    font-family: 筑紫A丸ゴシック;
    background-color: #FFFF99;
    
    /*background: linear-gradient(45deg, #E6FFE9 25%, #FFFFFF 25%, #FFFFFF 50%, #E6FFE9 50%, #E6FFE9 75%, #FFFFFF 75%);
    background-size: 30px 30px; /* ストライプの幅を設定 */
}

header {
    /*background-image: url('ttmy.jpg'); /* 画像のパスを指定 */
    background-color: #0033CC;
    background-position: center; /* 画像の位置を中央に */
    background-size: cover;
    height: 500px;
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
    color: #FFFFFF;
    display: flex;
    flex-direction: column; /* 縦方向に並べる */
    align-items: center; /* 横方向に中央揃え */
    justify-content: center; /* 縦方向に中央揃え */
}

.imo-image {
    width: 250px;
    height: auto;
}

header h1{
    font-size: 100px;
}

header h1 {
    margin-left: 20px;
    margin-top: 15px;
}

.underlined {
    position: relative;
    display: inline-block; /* h1の幅をテキストの幅に合わせる */
}

.underlined::after {
    content: '';
    display: block;
    width: 100%; /* 線の幅をh1の幅に合わせる */
    height: 4px; /* 線の高さ */
    background-color: #FFFFFF; /* 線の色 */
    position: absolute;
    left: 10px; /* 左に10pxずらす */
    right: 10px; /* 右に10pxずらす */
    bottom: -5px; /* h1の下に5pxスペースを空ける */
}


.about {
    text-align: center;
    width: 100%;
    height: 250px;
    color: #0033CC;
}

.about h1 {
    font-size: 25px;
}

.about h2 {
    font-size: 12px;
    margin-top: -20px;
}

.about-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.about img {
    max-width: 150px; /* 画像の大きさを調節 */
    height: auto; /* 画像の高さを自動調整 */
    margin-right: 40px; /* 画像とテキストの間のスペースを調整 */
    display: flex;
    border: 5px solid #0033CC; /* 枠線の色を指定 */
    border-radius: 50%; /* 円形に切り取る */
    box-sizing: border-box; /* 枠線を含めたサイズを計算 */
}

.text-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.about .about-text {
    font-size: 30px;
    font-weight: bold;
    line-height: 0.1; /* 行間を狭くする */
}

.ex-about {
    margin-top: -15px;
    font-size: 20px;
    font-weight: lighter;
    line-height: 1.8; /* 行間を狭くする */
}

.about-text {
    position: relative; /* 擬似要素を絶対位置で配置するために必要 */
    z-index: 1; /* 白い四角がテキストの背後に表示されるようにする */
}

.about-text::before {
    content: '';
    position: absolute;
    top: 5px;
    left: 20px;
    width: 300px;
    height: 2px;
    background-color: #FFFFFF;
    border-radius: 15px;
    z-index: -1; /* 四角がテキストの背後に表示されるようにする */
    padding: 10px; /* 四角をテキストから少し離す */
}

.skill {
    text-align: center;
    color: #FFFF99;
    background-color: #0033CC;
    height: 200px;
}

.skill h1 {
    font-size: 25px;
    padding-top: 10px;
}

.skill h2 {
    font-size: 12px;
    margin-top: -20px;
}

.skill-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px; /* アイテム間のスペース */
    margin-top: 40px;
}

.skill-item, .skill-container img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px; /* 正円の直径 */
    height: 150px; /* 正円の直径 */
    background-color: #FFFF99; /* 円の背景色 */
    border-radius: 50%; /* 正円にする */
    font-size: 50px; /* 文字サイズ */
    color: #0033CC; /* 文字色 */
}

.skill-item {
    background-color: #FFFF99; /* 円の背景色 */
    font-family: '筑紫A丸ゴシック', sans-serif; /* フォントファミリーを指定 */
    font-weight: bold;
}

.skill-container img {
    width: 120px; /* 正円の直径 */
    height: 120px; /* 正円の直径 */
    border-radius: 50%; /* 正円にする */
    background-color: #FFFF99; /* 円の背景色 */
    object-fit: cover; /* 画像が枠内に収まるように調整 */
    padding: 10px; /* 画像が枠に触れないようにするための余白 */
}

.work {
    text-align: center;
    color: #0033CC;
}

.work h1 {
    font-size: 25px;
}

.work h2 {
    font-size: 12px;
    margin-top: -20px;
}

.work-item {
    display: inline-block;
    margin: 20px; /* 画像と説明文の間のスペースを調整 */
    vertical-align: middle;
    text-align: center;
}

.work-item img {
    width: 100%; /* 幅を枠線に合わせる */
    height: auto; /* 画像の高さを自動調整 */
    display: block;
    margin: 0 auto; /* 画像を中央揃え */
}

.work-item .description {
    margin-top: 15px; /* 説明文と画像の間のスペースを調整 */
    font-size: 13px; /* 説明文のフォントサイズを調整 */
}

.bold-text {
    font-weight: bold; /* 太字にする */
}

footer {
    background-color: #0033CC;
    text-align: center;
    height: 30px;
    display: flex;
    align-items: center; /* 横方向の中央 */
    justify-content: center; /* 縦方向の中央 */
}

footer p {
    font-size: 8px;
    color: #FFFFFF;
    margin: 0;
}

/* スマホ用スタイル */
@media screen and (max-width: 600px) {
    body {
        font-size: 14px;
    }

    header {
        height: 300px;
    }

    header h1{
        font-size: 30px;
    }

    .underlined::after {
        width: 100%;
        height: 2px;
        left: 0.5px;
        right: 10px;
    }

    .imo-image {
        width: 100px;
        height: auto;
    }

    .about {
        height: 220px;
        color: #0033CC;
    }

    .about h1 {
        font-size: 25px;
    }

    .about h2 {
        font-size: 12px;
        margin-top: -20px;
    }

    .about img {
        max-width: 150px;
        margin-right: 20px;
    }

    .text-content {
        text-align: left;
    }

    .about .about-text {
        font-size: 15px;
        font-weight: bold;
        line-height: 1.2;
    }
    
    .ex-about {
        font-size: 10px;
        font-weight: lighter;
        line-height: 1.8;
        margin-top: -10px;
    }

    .about-text::before {
        top: 3px;
        left: 5px;
        width: 80px;
        height: 0px;
    }

    .skill {
        height: 200px;
    }

    .skill h1 {
        font-size: 25px;
    }

    .skill h2 {
        font-size: 12px;
    }

    .skill-container {
        gap: 20px; /* アイテム間のスペース */
        margin-top: 30px;
    }
    
    .skill-item, .skill-container img {
        width: 70px; /* 正円の直径 */
        height: 70px; /* 正円の直径 */
        border-radius: 50%; /* 正円にする */
        font-size: 30px; /* 文字サイズ */
    }
    
    .skill-container img {
        width: 50px; /* 正円の直径 */
        height: 50px; /* 正円の直径 */
        border-radius: 50%; /* 正円にする */
        object-fit: cover; /* 画像が枠内に収まるように調整 */
        padding: 10px; /* 画像が枠に触れないようにするための余白 */
    }

    .work {
        height: auto; /* 高さを自動調整 */
        padding-bottom: 20px; /* スクロールを防ぐために下部に余白を追加 */
    }

    .work h1 {
        font-size: 25px;
    }

    .work h2 {
        font-size: 12px;
    }

    .work-item {
        width: 70%; /* スマホで1列表示 */
        margin: 20px 0;
        border: 2px solid #0000CC; /* 枠線の太さ、スタイル、色を指定 */
        padding: 15px; /* 枠線とコンテンツの間に余白を追加 */
        border-radius: 8px; /* 枠線の角を丸くする */
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); /* 軽い影を追加する */
        width: 260px; /* 枠線の幅を指定 */
        box-sizing: border-box; /* 枠線とパディングを含めて幅を計算 */
        word-wrap: break-word; /* 長い単語を折り返す */
        vertical-align: top; /* 上部揃え */
        display: inline-block;
        vertical-align: middle;
    }

    .work-item img {
        width: 100%; /* 幅を枠線に合わせる */
        border: 4px solid #FFFF00; /* 白い枠線を指定 */
        border-radius: 8px; /* 枠線の角を丸くする*/
        height: auto;
        display: block;
        margin: 0 auto;
    }

    .work-item .description {
        margin-top: 15px; /* 説明文と画像の間のスペースを調整 */
        font-size: 20px; /* 説明文のフォントサイズを調整 */
    }

    .ex-description {
        font-size: 12px;
        line-height: 0.2; /* 行間を調整 */
        margin: 0; /* 上下の余白をなくす */
        padding: 0; /* 内側の余白をなくす */
    }

    .create-images {
        display: flex;
        justify-content: center;
        margin-top: 15px;
    }
    
    .create-images img {
        width: 50px; /* 小さな画像の幅を指定 */
        height: auto;
        margin: 0 10px; /* 画像間のスペースを調整 */
        border: none; /* 枠線を削除 */
        border-radius: 0; /* 枠線の角を削除 */
    }

    footer {
        height: 30px;
    }

    footer p {
        font-size: 8px;
    }
}

/* ipad Airスタイル */
@media screen and (min-width: 601px) and (max-width: 820px) {

    header {
        height: 700px;
    }

    header h1 { 
        font-size: 80px;
    }

    .underlined::after {
        width: 100%;
        height: 4px;
        left: 0.3px;
        right: 10px;
    }

    .about {
        height: 360px;
        color: #0033CC;
    }

    .about h1 {
        font-size: 40px;
    }

    .about h2 {
        font-size: 20px;
        margin-top: -40px;
    }

    .about img {
        max-width: 250px;
    }

    .text-content {
        text-align: left;
    }

    .about .about-text {
        font-size: 30px;
        font-weight: bold;
    }
    
    .ex-about {
        font-size: 20px;
        font-weight: lighter;
        margin-top: -1px;
    }

    .about-text::before {
        top: 3px;
        left: 5px;
        width: 180px;
        height: 0px;
    }


    .skill {
        text-align: center;
        color: #E6FFE9;
        background-color: #0033CC;
        height: 330px;
    }
    
    .skill h1{
        padding-top: 30px;
        font-size: 40px;
    }
    
    .skill h2 {
        font-size: 20px;
        margin-top: -40px;
    }

    .skill-container {
        gap: 40px; /* アイテム間のスペース */
        margin-top: 30px;
    }
    
    .skill-item, .skill-container img {
        width: 120px; /* 正円の直径 */
        height: 120px; /* 正円の直径 */
        border-radius: 50%; /* 正円にする */
        font-size: 40px; /* 文字サイズ */
    }
    
    .skill-container img {
        width: 100px; /* 正円の直径 */
        height: 100px; /* 正円の直径 */
        border-radius: 50%; /* 正円にする */
        object-fit: cover; /* 画像が枠内に収まるように調整 */
        padding: 10px; /* 画像が枠に触れないようにするための余白 */
    }

    .work {
        height: 2150px;
    }

    .work h1{
        padding-top: 15px;
        font-size: 40px;
    }
    
    .work h2 {
        font-size: 20px;
        margin-top: -40px;
    }

    .work-item {
        display: inline-block;
        margin: 20px;
        vertical-align: middle;
        text-align: center;
        border: 2px solid #0000CC; /* 枠線の太さ、スタイル、色を指定 */
        padding: 20px; /* 枠線とコンテンツの間に余白を追加 */
        border-radius: 8px; /* 枠線の角を丸くする */
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); /* 軽い影を追加する */
        width: 320px; /* 枠線の幅を指定 */
        box-sizing: border-box; /* 枠線とパディングを含めて幅を計算 */
        word-wrap: break-word; /* 長い単語を折り返す */
        vertical-align: top; /* 上部揃え */
    }
    
    .work-item img {
        width: 100%; /* 幅を枠線に合わせる */
        height: auto; /* 画像の高さを自動調整 */
        display: block;
        margin: 0 auto; /* 画像を中央揃え */
        border: 4px solid #FFFF00; /* 白い枠線を指定 */
        border-radius: 8px; /* 枠線の角を丸くする */
    }
    
    .work-item .description {
        margin-top: 15px; /* 説明文と画像の間のスペースを調整 */
        font-size: 30px;
    }

    .ex-description {
        font-size: 15px;
        line-height: 0.2; /* 行間を調整 */
        margin: 0; /* 上下の余白をなくす */
        padding: 0; /* 内側の余白をなくす */
    }

    .create-images {
        display: flex;
        justify-content: center;
        margin-top: 15px;
    }
    
    .create-images img {
        width: 70px; /* 小さな画像の幅を指定 */
        height: auto;
        margin: 0 10px; /* 画像間のスペースを調整 */
        border: none; /* 枠線を削除 */
        border-radius: 0; /* 枠線の角を削除 */
    }

    footer {
        height: 50px;
    }
    
    footer p {
        font-size: 16px;
    }
}

/* ipad Proスタイル */
@media screen and (min-width: 821px) and (max-width: 1024px) {

    header {
        height: 700px;
    }

    .underlined::after {
        width: 100%;
        height: 4px;
        left: 0.5px;
        right: 10px;
    }
    
    .about {
        height: 420px;
        color: #0033CC;
    }

    .about h1 {
        font-size: 40px;
    }

    .about h2 {
        font-size: 20px;
        margin-top: -40px;
    }

    .about img {
        max-width: 300px;
        margin-right: 60px;
    }

    .text-content {
        text-align: left;
    }

    .about .about-text {
        font-size: 45px;
        font-weight: bold;
    }
    
    .ex-about {
        font-size: 20px;
        font-weight: lighter;
    }

    .about-text::before {
        top: 8px;
        left: 5px;
        width: 280px;
        height: 0px;
    }

    .skill {
        text-align: center;
        color: #E6FFE9;
        background-color: #0033CC;
        height: 350px;
    }
    
    .skill h1{
        padding-top: 30px;
        font-size: 40px;
    }
    
    .skill h2 {
        font-size: 20px;
        margin-top: -40px;
    }

    .work {
        height: 1600px;
    }

    .work h1{
        padding-top: 15px;
        font-size: 40px;
    }
    
    .work h2 {
        font-size: 20px;
        margin-top: -40px;
    }

    .work-item {
        display: inline-block;
        margin: 20px;
        vertical-align: middle;
        text-align: center;
        border: 2px solid #0000CC; /* 枠線の太さ、スタイル、色を指定 */
        padding: 20px; /* 枠線とコンテンツの間に余白を追加 */
        border-radius: 8px; /* 枠線の角を丸くする */
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); /* 軽い影を追加する */
        width: 260px; /* 枠線の幅を指定 */
        box-sizing: border-box; /* 枠線とパディングを含めて幅を計算 */
        word-wrap: break-word; /* 長い単語を折り返す */
        vertical-align: top; /* 上部揃え */
    }
    
    .work-item img {
        width: 100%; /* 幅を枠線に合わせる */
        height: auto; /* 画像の高さを自動調整 */
        display: block;
        margin: 0 auto; /* 画像を中央揃え */
        border: 4px solid #FFFF00; /* 白い枠線を指定 */
        border-radius: 8px; /* 枠線の角を丸くする */
    }
    
    .work-item .description {
        margin-top: 15px; /* 説明文と画像の間のスペースを調整 */
        font-size: 30px; /* 説明文のフォントサイズを調整 */
    }

    .ex-description {
        font-size: 15px;
        line-height: 0.2; /* 行間を調整 */
        margin: 0; /* 上下の余白をなくす */
        padding: 0; /* 内側の余白をなくす */
    }

    .create-images {
        display: flex;
        justify-content: center;
        margin-top: 15px;
    }
    
    .create-images img {
        width: 70px; /* 小さな画像の幅を指定 */
        height: auto;
        margin: 0 5px; /* 画像間のスペースを調整 */
        border: none; /* 枠線を削除 */
        border-radius: 0; /* 枠線の角を削除 */
    }
    
    footer {
        height: 50px;
    }
    
    footer p {
        font-size: 16px;
    }
}

/* PC用スタイル */
@media screen and (min-width: 1025px) {

    header {
        height: 800px;
    }

    .about {
        height: 480px;
        color: #0033CC;
    }

    .about h1 {
        font-size: 50px;
    }

    .about h2 {
        font-size: 20px;
        margin-top: -40px;
    }

    .about img {
        max-width: 350px;
        margin-right: 60px;
    }

    .text-content {
        text-align: left;
    }

    .about .about-text {
        font-size: 50px;
        font-weight: bold;
    }
    
    .ex-about {
        font-size: 30px;
        font-weight: lighter;
    }

    .skill {
        text-align: center;
        color: #E6FFE9;
        background-color: #0033CC;
        height: 400px;
    }
    
    .skill h1{
        padding-top: 30px;
        font-size: 50px;
    }
    
    .skill h2 {
        font-size: 20px;
        margin-top: -40px;
    }

    .skill-container {
        gap: 70px; /* アイテム間のスペース */
    }

    .work {
        height: 200px;
    }
    
    .work h1 {
        padding-top: 15px;
        font-size: 50px;
    }
    
    .work h2 {
        font-size: 20px;
        margin-top: -40px;
    }
    
    .work-item {
        display: inline-block;
        margin: 30px;
        vertical-align: middle;
        text-align: center;
        border: 2px solid #0000CC;
        padding: 30px;
        border-radius: 8px;
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
        width: 400px;
        box-sizing: border-box;
        word-wrap: break-word;
        vertical-align: top;
    }
    
    .work-item img {
        width: 100%;
        height: auto;
        display: block;
        margin: 0 auto;
        border: 4px solid #FFFF00;
        border-radius: 8px;
    }
    
    .work-item .description {
        margin-top: 15px;
        font-size: 30px;
    }
    
    .ex-description {
        font-size: 20px;
        line-height: 0.5;
        margin: 0;
        padding: 0;
    }
    
    .create-images {
        display: flex;
        justify-content: center;
        margin-top: 15px;
    }
    
    .create-images img {
        width: 100px; /* 小さな画像の幅を指定 */
        height: auto;
        margin: 0 10px; /* 画像間のスペースを調整 */
        border: none; /* 枠線を削除 */
        border-radius: 0; /* 枠線の角を削除 */
    }

    footer {
        margin-top: 1800px;
        height: 50px;
        display: flex;
    }
    
    footer p {
        font-size: 16px;
    }
}