body { /*全体に影響*/
    margin: 0; /*余白を削除してページの端から*/
    padding: 0; /*内側の余白をなくす*/
    font-family: 筑紫A丸ゴシック;
    background-color: #E6FFE9;
    
    /*background: linear-gradient(45deg, #E6FFE9 25%, #FFFFFF 25%, #FFFFFF 50%, #E6FFE9 50%, #E6FFE9 75%, #FFFFFF 75%);
    background-size: 30px 30px; /* ストライプの幅を設定 */
}

header {
    background-image: url('ttmy.jpg'); /* 画像のパスを指定 */
    background-position: center; /* 画像の位置を中央に */
    background-size: cover;
    height: 500px;
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
    color: #FFFFFF;
}

header h1 {
    margin-left: 20px;
    margin-top: 15px;
}

.about {
    text-align: center;
    align-items: center;
    height: 250px;
    color: #CCCCFF;
}

.about h1{
    font-size: 25px;
}

.about h2 {
    font-size: 12px;
    margin-top: -20px;
}

.about img {
    max-width: 150px; /* 画像の大きさを調節 */
    height: auto; /* 画像の高さを自動調整 */
    margin-right: 20px; /* 画像とテキストの間のスペースを調整 */
    margin-left: -20px;
    display: inline-block; /* 横並びにする */
    vertical-align: middle;
    border: 5px solid #CCCCFF; /* 白い枠線を指定 */
    border-radius: 50%; /* 円形に切り取る */
    box-sizing: border-box; /* 枠線を含めたサイズを計算 */
}

.about p {
    display: inline-block;
    vertical-align: middle;
}

.about .about-text {
    display: inline-block;
    max-width: 500px; /* テキストの最大幅を調整 */
    text-align: left; /* テキストの揃えを左揃えに */
}

.skill {
    text-align: center;
    color: #E6FFE9;
    background-color: #CCCCFF;
    height: 200px;
}

.skill h1 {
    font-size: 25px;
    padding-top: 10px; /* 背景の内側の上のスペースを調整 */
}

.skill h2 {
    font-size: 12px;
    margin-top: -20px;
}

.skill-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px; /* アイテム間のスペース */
    margin-top: 40px;
}

.skill-item, .skill-container img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px; /* 正円の直径 */
    height: 150px; /* 正円の直径 */
    background-color: #E6FFE9; /* 円の背景色 */
    border-radius: 50%; /* 正円にする */
    font-size: 50px; /* 文字サイズ */
    color: #CCCCFF; /* 文字色 */
}

.skill-item {
    background-color: #E6FFE9; /* 円の背景色 */
    font-family: '筑紫A丸ゴシック', sans-serif; /* フォントファミリーを指定 */
}

.skill-container img {
    width: 120px; /* 正円の直径 */
    height: 120px; /* 正円の直径 */
    border-radius: 50%; /* 正円にする */
    background-color: #E6FFE9; /* 円の背景色 */
    object-fit: cover; /* 画像が枠内に収まるように調整 */
    padding: 10px; /* 画像が枠に触れないようにするための余白 */
}

.work {
    text-align: center;
    color: #CCCCFF;
}

.work h1 {
    font-size: 25px;
}

.work h2 {
    font-size: 12px;
    margin-top: -20px;
}

.work-item {
    display: inline-block;
    margin: 20px; /* 画像と説明文の間のスペースを調整 */
    vertical-align: middle;
    text-align: center;
}

.work-item img {
    width: 100%; /* 幅を枠線に合わせる */
    height: auto; /* 画像の高さを自動調整 */
    display: block;
    margin: 0 auto; /* 画像を中央揃え */
}

.work-item .description {
    margin-top: 15px; /* 説明文と画像の間のスペースを調整 */
    font-size: 13px; /* 説明文のフォントサイズを調整 */
}

footer {
    background-color: #CCCCFF;
    text-align: center;
    height: 30px;
    display: flex;
    align-items: center; /* 横方向の中央 */
    justify-content: center; /* 縦方向の中央 */
}

footer p {
    font-size: 8px;
    color: #E6FFE9;
    margin: 0;
}

/* スマホ用スタイル */
@media screen and (max-width: 600px) {
    body {
        font-size: 14px;
    }

    header {
        height: 300px;
    }

    .about {
        height: 250px;
        color: #CCCCFF;
    }

    .about h1 {
        font-size: 25px;
    }

    .about h2 {
        font-size: 12px;
        margin-top: -20px;
    }

    .about img {
        max-width: 150px;
    }

    .about p {
        font-size: 14px;
    }

    .skill {
        height: 200px;
    }

    .skill h1 {
        font-size: 25px;
    }

    .skill h2 {
        font-size: 12px;
    }

    .skill-container {
        gap: 20px; /* アイテム間のスペース */
        margin-top: 30px;
    }
    
    .skill-item, .skill-container img {
        width: 70px; /* 正円の直径 */
        height: 70px; /* 正円の直径 */
        border-radius: 50%; /* 正円にする */
        font-size: 30px; /* 文字サイズ */
    }
    
    .skill-container img {
        width: 50px; /* 正円の直径 */
        height: 50px; /* 正円の直径 */
        border-radius: 50%; /* 正円にする */
        object-fit: cover; /* 画像が枠内に収まるように調整 */
        padding: 10px; /* 画像が枠に触れないようにするための余白 */
    }

    .work {
        height: auto; /* 高さを自動調整 */
        padding-bottom: 20px; /* スクロールを防ぐために下部に余白を追加 */
    }

    .work h1 {
        font-size: 25px;
    }

    .work h2 {
        font-size: 12px;
    }

    .work-item {
        width: 70%; /* スマホで1列表示 */
        margin: 20px 0;
        border: 2px solid #CC99FF; /* 枠線の太さ、スタイル、色を指定 */
        padding: 15px; /* 枠線とコンテンツの間に余白を追加 */
        border-radius: 8px; /* 枠線の角を丸くする */
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); /* 軽い影を追加する */
        width: 260px; /* 枠線の幅を指定 */
        box-sizing: border-box; /* 枠線とパディングを含めて幅を計算 */
        word-wrap: break-word; /* 長い単語を折り返す */
        vertical-align: top; /* 上部揃え */
    }

    .work-item img {
        width: 100%; /* 幅を枠線に合わせる */
        border: 4px solid #CBFFD3; /* 白い枠線を指定 */
        border-radius: 8px; /* 枠線の角を丸くする*/
    }

    .work-item .description {
        margin-top: 15px; /* 説明文と画像の間のスペースを調整 */
        font-size: 20px; /* 説明文のフォントサイズを調整 */
    }

    .ex-description {
        font-size: 12px;
        line-height: 0.2; /* 行間を調整 */
        margin: 0; /* 上下の余白をなくす */
        padding: 0; /* 内側の余白をなくす */
    }

    footer {
        height: 30px;
    }

    footer p {
        font-size: 8px;
    }
}

/* ipad Airスタイル */
@media screen and (min-width: 601px) and (max-width: 820px) {

    header {
        height: 700px;
    }

    .about {
        text-align: center;
        align-items: center;
        height: 400px;
        color: #CCCCFF;
    }
    
    .about h1{
        padding-top: 10px;
        font-size: 40px;
    }
    
    .about h2 {
        font-size: 20px;
        margin-top: -40px;
    }
    
    .about img {
        max-width: 250px; /* 画像の大きさを調節 */
        height: auto; /* 画像の高さを自動調整 */
        margin-right: 20px; /* 画像とテキストの間のスペースを調整 */
        margin-left: -20px;
        display: inline-block; /* 横並びにする */
        vertical-align: middle;
    }
    
    .about p {
        display: inline-block;
        vertical-align: middle;
        font-size: 25px;
    }
    
    .about .about-text {
        display: inline-block;
        max-width: 500px; /* テキストの最大幅を調整 */
        text-align: left; /* テキストの揃えを左揃えに */
    }

    .skill {
        text-align: center;
        color: #E6FFE9;
        background-color: #CCCCFF;
        height: 330px;
    }
    
    .skill h1{
        padding-top: 30px;
        font-size: 40px;
    }
    
    .skill h2 {
        font-size: 20px;
        margin-top: -40px;
    }

    .skill-container {
        gap: 40px; /* アイテム間のスペース */
        margin-top: 30px;
    }
    
    .skill-item, .skill-container img {
        width: 120px; /* 正円の直径 */
        height: 120px; /* 正円の直径 */
        border-radius: 50%; /* 正円にする */
        font-size: 40px; /* 文字サイズ */
    }
    
    .skill-container img {
        width: 100px; /* 正円の直径 */
        height: 100px; /* 正円の直径 */
        border-radius: 50%; /* 正円にする */
        object-fit: cover; /* 画像が枠内に収まるように調整 */
        padding: 10px; /* 画像が枠に触れないようにするための余白 */
    }

    .work {
        height: 1900px;
    }

    .work h1{
        padding-top: 15px;
        font-size: 40px;
    }
    
    .work h2 {
        font-size: 20px;
        margin-top: -40px;
    }

    .work-item {
        display: inline-block;
        margin: 20px;
        vertical-align: middle;
        text-align: center;
        border: 2px solid #CC99FF; /* 枠線の太さ、スタイル、色を指定 */
        padding: 20px; /* 枠線とコンテンツの間に余白を追加 */
        border-radius: 8px; /* 枠線の角を丸くする */
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); /* 軽い影を追加する */
        width: 320px; /* 枠線の幅を指定 */
        box-sizing: border-box; /* 枠線とパディングを含めて幅を計算 */
        word-wrap: break-word; /* 長い単語を折り返す */
        vertical-align: top; /* 上部揃え */
    }
    
    .work-item img {
        width: 100%; /* 幅を枠線に合わせる */
        height: auto; /* 画像の高さを自動調整 */
        display: block;
        margin: 0 auto; /* 画像を中央揃え */
        border: 4px solid #CBFFD3; /* 白い枠線を指定 */
        border-radius: 8px; /* 枠線の角を丸くする */
    }
    
    .work-item .description {
        margin-top: 15px; /* 説明文と画像の間のスペースを調整 */
        font-size: 30px;
    }

    .ex-description {
        font-size: 15px;
        line-height: 0.2; /* 行間を調整 */
        margin: 0; /* 上下の余白をなくす */
        padding: 0; /* 内側の余白をなくす */
    }

    footer {
        height: 50px;
    }
    
    footer p {
        font-size: 16px;
        color: #E6FFE9;
        margin: 0;
    }
}

/* ipad Proスタイル */
@media screen and (min-width: 821px) and (max-width: 1024px) {

    header {
        height: 700px;
    }

    .about {
        text-align: center;
        align-items: center;
        height: 400px;
        color: #CCCCFF;
    }
    
    .about h1{
        padding-top: 10px;
        font-size: 40px;
    }
    
    .about h2 {
        font-size: 20px;
        margin-top: -40px;
    }
    
    .about img {
        max-width: 250px; /* 画像の大きさを調節 */
        height: auto; /* 画像の高さを自動調整 */
        margin-right: 60px; /* 画像とテキストの間のスペースを調整 */
        margin-left: -20px;
        display: inline-block; /* 横並びにする */
        vertical-align: middle;
    }
    
    .about p {
        display: inline-block;
        vertical-align: middle;
        font-size: 25px;
    }
    
    .about .about-text {
        display: inline-block;
        max-width: 500px; /* テキストの最大幅を調整 */
        text-align: left; /* テキストの揃えを左揃えに */
    }

    .skill {
        text-align: center;
        color: #E6FFE9;
        background-color: #CCCCFF;
        height: 350px;
    }
    
    .skill h1{
        padding-top: 30px;
        font-size: 40px;
    }
    
    .skill h2 {
        font-size: 20px;
        margin-top: -40px;
    }

    .work {
        height: 1450px;
    }

    .work h1{
        padding-top: 15px;
        font-size: 40px;
    }
    
    .work h2 {
        font-size: 20px;
        margin-top: -40px;
    }

    .work-item {
        display: inline-block;
        margin: 20px;
        vertical-align: middle;
        text-align: center;
        border: 2px solid #CC99FF; /* 枠線の太さ、スタイル、色を指定 */
        padding: 20px; /* 枠線とコンテンツの間に余白を追加 */
        border-radius: 8px; /* 枠線の角を丸くする */
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); /* 軽い影を追加する */
        width: 260px; /* 枠線の幅を指定 */
        box-sizing: border-box; /* 枠線とパディングを含めて幅を計算 */
        word-wrap: break-word; /* 長い単語を折り返す */
        vertical-align: top; /* 上部揃え */
    }
    
    .work-item img {
        width: 100%; /* 幅を枠線に合わせる */
        height: auto; /* 画像の高さを自動調整 */
        display: block;
        margin: 0 auto; /* 画像を中央揃え */
        border: 4px solid #CBFFD3; /* 白い枠線を指定 */
        border-radius: 8px; /* 枠線の角を丸くする */
    }
    
    .work-item .description {
        margin-top: 15px; /* 説明文と画像の間のスペースを調整 */
        font-size: 30px; /* 説明文のフォントサイズを調整 */
    }

    .ex-description {
        font-size: 15px;
        line-height: 0.2; /* 行間を調整 */
        margin: 0; /* 上下の余白をなくす */
        padding: 0; /* 内側の余白をなくす */
    }
    
    footer {
        height: 50px;
    }
    
    footer p {
        font-size: 16px;
        color: #E6FFE9;
        margin: 0;
    }
}

/* PC用スタイル */
@media screen and (min-width: 1025px) {

    header {
        height: 800px;
    }

    .about {
        text-align: center;
        align-items: center;
        height: 450px;
        color: #CCCCFF;
    }
    
    .about h1{
        font-size: 50px;
    }
    
    .about h2 {
        font-size: 20px;
        margin-top: -40px;
    }
    
    .about img {
        max-width: 300px; /* 画像の大きさを調節 */
        height: auto; /* 画像の高さを自動調整 */
        margin-right: 100px; /* 画像とテキストの間のスペースを調整 */
        margin-left: -20px;
        display: inline-block; /* 横並びにする */
        vertical-align: middle;
    }
    
    .about p {
        display: inline-block;
        vertical-align: middle;
        font-size: 25px;
    }
    
    .about .about-text {
        display: inline-block;
        max-width: 500px; /* テキストの最大幅を調整 */
        text-align: left; /* テキストの揃えを左揃えに */
    }

    .skill {
        text-align: center;
        color: #E6FFE9;
        background-color: #CCCCFF;
        height: 400px;
    }
    
    .skill h1{
        padding-top: 30px;
        font-size: 50px;
    }
    
    .skill h2 {
        font-size: 20px;
        margin-top: -40px;
    }

    .work {
        height: 1px;
    }

    .work h1{
        padding-top: 15px;
        font-size: 50px;
    }
    
    .work h2 {
        font-size: 20px;
        margin-top: -40px;
    }

    .work-item {
        display: inline-block;
        margin: 30px; /* 画像と説明文の間のスペースを調整 */
        vertical-align: middle;
        text-align: center;
        border: 2px solid #CC99FF; /* 枠線の太さ、スタイル、色を指定 */
        padding: 30px; /* 枠線とコンテンツの間に余白を追加 */
        border-radius: 8px; /* 枠線の角を丸くする */
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); /* 軽い影を追加する */
        width: 400px; /* 枠線の幅を指定 */
        box-sizing: border-box; /* 枠線とパディングを含めて幅を計算 */
        word-wrap: break-word; /* 長い単語を折り返す */
        vertical-align: top; /* 上部揃え */
    }
    
    .work-item img {
        width: 100%; /* 幅を枠線に合わせる */
        height: auto; /* 画像の高さを自動調整 */
        display: block;
        margin: 0 auto; /* 画像を中央揃え */
        border: 4px solid #CBFFD3; /* 白い枠線を指定 */
        border-radius: 8px; /* 枠線の角を丸くする */
    }
    
    .work-item .description {
        margin-top: 15px; /* 説明文と画像の間のスペースを調整 */
        font-size: 30px; /* 説明文のフォントサイズを調整 */
    }
    
    .ex-description {
        font-size: 20px;
        line-height: 0.5; /* 行間を調整 */
        margin: 0; /* 上下の余白をなくす */
        padding: 0; /* 内側の余白をなくす */
    }

    footer {
        height: 50px;
    }
    
    footer p {
        font-size: 16px;
        color: #E6FFE9;
        margin: 0;
    }
}