body { /*全体に影響*/
    margin: 0; /*余白を削除してページの端から*/
    padding: 0; /*内側の余白をなくす*/
    font-family: BIZ_UDPGothic;
    color: #242424;
}

.header {
    background-image: url('ttmy.jpg'); /* 画像のパスを指定 */
    background-position: center; /* 画像の位置を中央に */
    height: 500px;
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.work img {
    width: 100%;
}